@import './settings/global';
@import './settings/colours';
@import './settings/break-points';
@import './settings/typography';

@import './tools/units';
@import './tools/breakpoint';

@import './generic/normalize';
@import './generic/box-sizing';

$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './elements/general';
@import './elements/typography';
@import './elements/form';
@import './elements/print';

@import '../../../node_modules/slick-carousel/slick/slick.scss';

@import './objects/wp';
@import './objects/grid';

@import './utils/helpers';
@import './utils/flex';
@import './utils/margins';

// Components
@import './components/page';
@import './components/widget';
@import './components/comment';
@import './components/search-form';
@import './components/search-form-search-page';
@import './components/pagination-links';
@import './components/button';
@import './components/c-component-nav';

// Header Components
@import './components/header';
@import './components/header-nav';
@import './components/header-hero';


// Footer Components
@import './components/footer';

// Front Page Components
@import './components/front-page/front-page';
@import './components/front-page/hero';

// Blog Components
@import './components/blog-page/blog-card';
@import './components/blog-page/blog';
@import './components/blog-page/blog-pagination';
@import './components/posts/post-sidebar';
@import './components/posts/post-full';
@import './components/posts/post';

// Contact Components
@import './components/contact/contact-form-7.scss';