.c-hero-with-text {
  margin-bottom: 50px;
  &__image {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  &__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    h1 {
      color: white;
    }
  }
  &__btn {
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
  }
}