.hero-with-nav-overlay {
  margin-bottom: 50px;
  .c-header {
    &__hero {
      // Cover full page
      // height: 100vh;
      height: 500px;
      @media (max-width: 767px) {
        // Cover full page
        // height: 100vh;
        height: 350px;
      }
      width: 100%;
    }
    position: relative;
    &__info {
      margin-left: 0;
      margin-right: 0;
    }

    &__logo {
      font-size: rem-calc(20);
      padding: 25px 15px;
      text-align: left;
      @media (max-width: 768px) {
        padding-left: 5px;
      }
      img {
        max-width: 150px;
      }
    }

    &__nav {
      padding: 15px 15px;
      @media (max-width: 768px) {
        padding: 15px 5px;
      }
    }

    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%;
      h1 {
        color: $white;
        // text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 0;
        text-shadow: 1px 1px 1px $black;
      }
    }
  }
}

.c-header__nav {
  color: $white;

  &--mobile {
    display: flex;
    justify-content: flex-end;
    font-size: rem-calc(20);
    .menu-primary-menu-container {
      ul {
        li {
          list-style-type: none;
        }
      }
    }
  }

  &--desktop {
    height: 70px;
    display: none;

    .menu-primary-menu-container {
      width: 100%;
      .current-menu-item a {
        color: $brand;
      }

      ul {
        padding: 0;
        margin: 0;
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        li {
          list-style: none;
          a {
            color: $white;
            @include font-body;
            text-transform: capitalize;

            &:hover {
              color: $brand;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 960px) {
    .c-header__nav {
      &--mobile {
        display: none;
      }

      &--desktop {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

@media (max-width: 959px) {
  #menu-item-316 {
    display: none;
  }
}

// Overlay for mobile menu
.openbtn {
  font-size: rem-calc(24);
  padding-top: 1rem;
  cursor: pointer;
  color: $white;
  position: relative;

  &:hover {
    color: $brand;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(21, 23, 28, 0.9);
  overflow-x: hidden;
  transition: 0.5s ease;
}

.overlay-content {
  position: relative;
  top: 35%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: rem-calc(26);
  color: $white;
  display: block;
  transition: 0.5s ease;
  text-transform: capitalize;
  white-space: nowrap;
}

.overlay a:hover,
.overlay a:focus {
  color: $brand;
}

.overlay .closebtn {
  position: absolute;
  top: 45px;
  right: 10px;
  font-size: rem-calc(30);
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: rem-calc(20);
  }
  .overlay .closebtn {
    font-size: rem-calc(20);
    top: 15px;
    right: 35px;
  }
}
