$cols: 12;
$gutter: 20;

.o-container {
  max-width: rem-calc($global-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: rem-calc($gutter/2);
  padding-right: rem-calc($gutter/2);
}

.o-row {
  display: flex;
  margin-right: -rem-calc($gutter/2);
  margin-left: -rem-calc($gutter/2);
  flex-wrap: wrap;
  &__col {
    width: calc(100% - #{rem-calc($gutter)});
    flex: 0 0 auto;
    margin-left: rem-calc($gutter/2);
    margin-right: rem-calc($gutter/2);
  }
  @for $i from 1 through $cols {
    &__col--span-#{$i} {
      width: calc(#{$i/$cols * 100 + "%"} - #{rem-calc($gutter)});
    }
  }
  @each $size, $width in $breakpoints {
    @include breakpoint($size) {
      @for $i from 1 through $cols {
        &__col--span-#{$i}\@#{$size} {
          width: calc(#{$i/$cols * 100 + "%"} - #{rem-calc($gutter)});
        }
      }
    }
  }
}

/* Used to style the individual columns, you can use this to add more targeted styles */
.o-grid__col {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  @include font-bold;
  color: $white;

  p {
    margin: 0;
    @media (max-width: 1023px) {
      display: none;
    }
  }
}

/* Used to override styles from the normal o-container styles */
.o-container--full {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* Used to override styles from the normal o-row styles */
.o-row--full {
  margin-left: 0;
  margin-right: 0;
}

/* Used to override styles from the normal o-row__col styles */
.o-grid__col--full {
  margin-right: 0;
  margin-left: 0;
  flex: 1 1 auto;
  p {
    margin: 0;
    @media (max-width: 1023px) {
      display: none;
    }
  }
}

/* Styles below can be removed or changed */
.c-repsonsive-grid {
  padding-top: 50px;
  padding-bottom: 50px;
  &--full {
		padding-bottom: 50px;
    h2 {
      padding-left: 1.25rem;
    }
  }
}

.span-1 {
  background: #7fdbff;
}

.span-2 {
  background: #39cccc;
}

.span-3 {
  background: #3d9970;
}

.span-4 {
  background: #2ecc40;
}

.span-5 {
  background: #01ff70;
}

.span-6 {
  background: #02d2da;
}

.span-6-2 {
  background: #0074d9;
}

.span-7 {
  background: #ff851b;
}

.span-8 {
  background: #ff4136;
}
.span-9 {
  background: #85144b;
}

.span-10 {
  background: #f012be;
}

.span-11 {
  background: #b10dc9;
}

.span-12 {
  background: #ff2f17;
}
